@model EvlampochkaPhotoStudio.Models.Contacts
@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/mainе.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>

<body>
    <span class="position-absolute trigger"><!-- hidden trigger to apply 'stuck' styles --></span>
    <section class="section-1">
        <div class="jumbotron d-flex align-items-center">
            <div class="container-fluid content">
                <h2 data-aos="fade-up" data-aos-delay="100">@Model.Description</h2>
                <h3 data-aos="fade-up" data-aos-delay="300">Наши контакты:</h3>
                <h4 data-aos="fade-up" data-aos-delay="500">@Model.Address</h4>
                <h4 data-aos="fade-up" data-aos-delay="700">@Model.Phone</h4>
                <p data-aos="zoom-in" data-aos-delay="900"><a asp-controller="Rooms" asp-action="Index" class="btn btn-success">Забронировать зал</a></p>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
    <script src="~/js/animate.js"></script>
    <script src="~/js/custom.js"></script>
    <script>
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
        AOS.init();
    </script>
</body>

