@model IEnumerable<Comment>
<head>
    
<link href="~/css/comment.css" rel="stylesheet">
</head>

<h3>Комментарии</h3>


<div class="All" id="comments">
@foreach (var item in Model)
        {
            <div class="media">
                <a class="pull-left" href="#"><img class="media-object" src="https://res.cloudinary.com/dlrmdokvi/image/upload/v1629842333/pngtree-male-man-person-abstract-flat-color-icon-template-png-image_1622081_hpryzd.jpg" alt="" width="100"></a>
                <div class="media-body">
                    <h4 class="media-heading">@item.UserName</h4>
                    <p>@item.Text</p>
                    <ul class="list-unstyled list-inline media-detail pull-left">
                        <li><i class="fa fa-calendar"></i>@item.CreationDate</li>
                    </ul>
                </div>
            </div>
        }
</div>


