@model EvlampochkaPhotoStudio.Models.Room

@{
    ViewData["Title"] = "Удаление";
}

<h3>Вы уверены, что хотите удалить информацию об этом зале?</h3>
<div>
    <h4>Зал: @Model.Name</h4>
    <hr />    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-outline-danger" /> |
        <a asp-action="Details" asp-route-id="@Model.Id">Вернуться</a>
    </form>
</div>
