@model EvlampochkaPhotoStudio.Models.Booking

@{
    ViewData["Title"] = "Бронирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Выберите дату, когда вы хотите устроить фотосессию?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>                    
              <input asp-for="RoomId" type="hidden" class="form-control" value="@ViewBag.RoomId" />
            <div class="form-group">
                <label asp-for="BookingDate" class="control-label">Дата:</label>
                <input asp-for="BookingDate" class="form-control" type="date" min="2022-05-11" max="2023-05-11" required="true" />
                <span asp-validation-for="BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Забронировать" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Rooms">Отмена</a>
</div>

